@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {

  #desktop-nav {
    display: none;
  }
  #sidebar-nav {
    display: flex;
  }
  a:hover {
  color: rgb(233, 47, 168)!important;
  text-decoration: underline!important;

}
 #dp-1{
  border-radius: 100%;
  height: 210px;
  width:200px;margin-left: 45px;
}


  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
  .address{
    margin-left:150px;

  }
  .contact-form{
    margin-left:50px;

  }
  .for-control{
    width: 500px;
  }
  .form-2{
  margin-left: 50px;
}
#message{
width:500px
}
#btn2{
  margin-left: 300px;
  margin-top: 10px;
}


}

@media screen and (max-width: 600px) {
 
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  #dp-1{
  border-radius: 100%;
  height: 150px;
  width:150px;margin-left: 10px;


}

  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .address{
    margin-left:250px
  }
  .contact-form{
    margin-left:100px;
  }
  input{
    width:300px ;
    margin-left: 25px;
  }
.form-2{
  margin-left: 200px;

}
h5{
  margin-left:25px
}
#btn2{
  margin-left: 120px;
}
#message{
  width:300px;
  margin-left:25px
}
#msg{
  margin-left:25px;
}
 .for-control{
    width: 300px;
  }
}
